<div class="main">
  <div class="left">
    <h1 class="left__title">Movie Search</h1>
    <div class="form">
      <div class="box-input">
        <input type="text" class="input">
        <button class="button" id="button" type="button"><img class="len" src="./search.png"></button>
      </div>
  </div>
  <div class="aside_favourites hidden">
    <h2 class="title__favourites"></h2>
  <ul class="listFav">
  </ul>
  </div>
  </div>
    <div class="aside_movies">
    <ul class="listMovies">
    </ul>
</div>
</div>
