h1{
  margin:0px;
}
.left{
 margin-top:200px;
 display:flex;
 flex-direction: column;
 align-items: left;
 justify-content: center;
 margin-left:40px;
 padding:10px;
  .left__title{
  font-size: 60px;
  text-align: left;
  font-weight: 700;
  color:white;
  margin-left:20px;
  margin-bottom:20px;
}
.form{
    .box-input{
      width:300px;
      height:65px;
      background-color:#E63B2E;
      display:flex;
      box-shadow: 0 10px 25px #E63B2E;
      border:solid 7px rgba(255,255,255,0.2);
      border-radius: 15px;
      margin-left:20px;
      margin-bottom:20px;
    }
    .input{
      margin-right:15px;
      color:white;
      background-color: #E63B2E;
      height:45px;
      margin-left:10px;
      border:0px;
      width:100%;
      font-size: 20px;
    }
    .button{
      background-color: #E63B2E;
      margin-right:20px;
      color:white;
      border:none;
        .len{
          width:25px;
          &:hover{
            width:30px;
          }
        }
    }
}
}
