h1{
  margin:0px;
}
.header{
 text-align: left;
  height:140px;
 

.top__header{

.header__title{
  font-size: 60px;
  text-align: left;
  font-weight: 700;
  color:white;
  position: absolute;
  top:450px;
  left:40px;
  width:100vw;
}
.header__icon{
  width:80px;
  height:80px;
  position:absolute;
  opacity: 0.2;

}
}
.form{
  height:15%;
  position:absolute;
  top:550px;
  left:40px;
  width:100vw;
    .box-input{
      width:300px;
      height:65px;
      background-color:#E63B2E;
      display:flex;
      box-shadow: 0 10px 25px #E63B2E;
      border:solid 7px rgba(255,255,255,0.2);
      border-radius: 15px;
    }
    .input{
      margin-right:15px;
      color:white;
      background-color: #E63B2E;
      height:45px;
      margin-left:10px;
      border:0px;
      width:100%;
      font-size: 20px;
    }
    .button{
      background-color: #E63B2E;
      margin-right:20px;
      color:white;
      border:none;
        .len{
          width:25px;
          &:hover{
            width:30px;
          }
        }
    }
}
}
