h1{
  margin:0px;
}
.header{
  display:flex;
  border-bottom: 2px solid black;
  justify-content: space-around;
  align-items: center;
  height:140px;

.top__header{
display:flex;
justify-content: center;
padding:24px;
align-items: center;



.header__title{
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  color:white;
  letter-spacing: 15px;
  background-color: black;
  position: absolute;
  top:0px;
  left:0px;
  width:100vw;
}
.header__icon{
  width:80px;
  height:80px;
  position:absolute;
  opacity: 0.2;

}
}
.form{
  height:15%;
  position: absolute;
  top:7%;
  right:2%;
    .box-input{
      width:250px;
      height:55px;
      background-color:#E63B2E;
      display:flex;
      box-shadow: 0 10px 25px #E63B2E;
      border:solid 7px rgba(255,255,255,0.2);
      border-radius: 15px;
    }
    .input{
      margin-right:15px;
      color:white;
      background-color: #E63B2E;
      height:35px;
      margin-left:10px;
      border:0px;
      width:100%;
    }
    .button{
      background-color: #E63B2E;
      margin-right:20px;
      color:white;
      border:none;
        .len{
          width:25px;
          &:hover{
            width:30px;
          }
        }
    }
}
}
