.main{
  height:100vh;
  background-color:white;
    .form{
      display:flex;
      flex-direction: row;
      justify-content: center;
      align-items:top;
      height:15%;
        .box-input{
          margin-top:20px;
          width:300px;
          height:55px;
          background-color:#E63B2E;
          display:flex;
          box-shadow: 0 10px 25px #E63B2E;
          align-items: center;
          justify-content: center;
          border:solid 7px rgba(255,255,255,0.2);
          border-radius: 15px;
        }
        .input{
          margin-right:15px;
          color:white;
          background-color: #E63B2E;
          height:35px;
          margin-left:10px;
          border:0px;
          width:100%;
        }
        .button{
          background-color: #E63B2E;
          margin-right:20px;
          color:white;
          border:none;
            .len{
              width:25px;
              &:hover{
                width:30px;
              }
            }
        }
    }
    .container-movies{
      margin-top:5%;
      display:flex;
      flex-direction: column;
      
        .aside_favourites{
          color:white;
          background: (linear-gradient( rgba(248,80,50,1) 0%, rgba(241,111,92,1) 100%));
          padding:10px;
          display:flex;
          align-items: center;
          width:100%;

          
            .title__favourites{
              color:black;
              font-size: 18px;
              text-align: center;
              margin-bottom: 10px;
              font-size: 20px;
                .star{
                  width:50px;
                  margin-left:0px;
                }
            }
            .listFav{
              display:flex;
              align-items: center;
              justify-content: center;
              margin-top:5px;
            }
            .myFavouriteLi{
              display:flex;
              flex-direction: column;
              display:flex;
              justify-content: center;
              align-items: center;
              color:black;
                .button__remove{
                  background-color: black;
                  width:20px;
                  border-radius: 100%;
                  border: none;
                  color:white;
                  margin-bottom:20px;
                  padding:8px;
                  font-size: 9px;
                }
                .titleMovieFavourite{
                  margin:10px;
                  width:100px;
                  text-align: center;
                  font-size: 9px;
                }
                img{
                  width:80px;
                }

              }
            }
              
            }

        .aside_movies{
          width:100%;
          margin-left:20px;
          .listMovies{
            list-style-type: none;
            display:flex;
            flex-direction: row;
            flex-wrap: wrap;
             .myLi{
               max-width:33%;
               padding:15px;
                img{
                  width:100%;
                }
                  .titleMovie{
                    font-size:18px;
                    text-align: center;
                  }
                .startMyfav{
                  width:20px;
                  height:20px;
                  background-color: lightsalmon;
                  justify-content: center;
                  align-items: center;
                  position:absolute;
                    .starFav{
                      width:15px;
                      height: 15px;
                      
                    }
                }
            }
              
            }
        }
      }
.starFav{
  width:20px;
}
