.main{
  height:100vh;
  background-color:white;
    .form{
      display:flex;
      flex-direction: row;
      justify-content: center;
      align-items:top;
      height:15%;
        .box-input{
          margin-top:20px;
          width:300px;
          height:55px;
          background-color:#E63B2E;
          display:flex;
          box-shadow: 0 10px 25px #E63B2E;
          align-items: center;
          justify-content: center;
          border:solid 7px rgba(255,255,255,0.2);
          border-radius: 15px;
        }
        .input{
          margin-right:15px;
          color:white;
          background-color: #E63B2E;
          height:35px;
          margin-left:10px;
          border:0px;
          width:100%;
        }
        .button{
          background-color: #E63B2E;
          margin-right:20px;
          color:white;
          border:none;
            .len{
              width:25px;
              &:hover{
                width:30px;
              }
            }
        }
    }
    .container-movies{
      margin-top:10%;
      display:flex;
      flex-direction: row;
      
        .aside_favourites{
          color:white;
          background-color: lightgray;
          width:30vw;
          padding:10px;
            .title__favourites{
              color:black;
              font-size: 18px;
              text-align: center;
              margin-bottom: 5px;
            }
            .myFavouriteLi{
              display:flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              padding:5px;
                .button__remove{
                  background-color: white;
                  margin-top:10px;
                }
                .titleMovieFavourite{
                  margin:20px;
                  background-color: #E63B2E;
                  width:100px;
                  height:20px;
                  text-align: center;
                  font-size:16px;
                }
                img{
                  width:100px;
                }

              }
            }
              
            }
        .aside_movies{
          width:100%;
          margin-left:20px;
          .listMovies{
            list-style-type: none;
            display:flex;
            flex-direction: row;
            flex-wrap: wrap;

            
            
             .myLi{
               max-width:33%;
               padding:15px;
                img{
                  width:100%;
                }
                .titleMovie{
                  font-size:12px;
                  text-align: center;
                }
              }
        }
      }
         
        }
